* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 s5;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    background-color: #069;
    padding: 9px 0;
}

header li {
    display: inline-block;
    margin: 0 10px;
}

header a {
    text-decoration: none;
    color: white;
}

.conteudo {
    height: 2070px;
}

section .content {
    margin: top 40px;
}